[Unit]
Description=Dispach
After=remote-fs.target network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
ExecStart=__FINAL_PATH__/__APP__
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target